[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule "bundle/ejs-syntax"]
	path = bundle/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/theme-sacredforest"]
	path = bundle/theme-sacredforest
	url = https://github.com/KKPMW/sacredforest-vim.git
[submodule "bundle/vim-typescript"]
	path = bundle/vim-typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
