[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule "/home/ryan/.vim/bundle/vim-javascript"]
	path = /home/ryan/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "/home/ryan/.vim/bundle/ale"]
	path = /home/ryan/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "/home/ryan/.vim/bundle/sacredforest-theme"]
	path = /home/ryan/.vim/bundle/sacredforest-theme
	url = https://github.com/KKPMW/sacredforest-vim.git
